.DS_Store
*.mode1v3
*.mode2v3
*.pbxuser
*.perspectivev3
*.xcuserdatad
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcshareddata/

# *.xcconfig

DerivedData/

swiftlint.result.html
*.app.dSYM.zip
*.ipa